<link rel="stylesheet" href="/navBar/theme.css" type="text/css">
<nav class="navbar navbar-expand-md navbar-dark bg-dark"> &lt;<button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand d-none d-md-block" href="/">
    <i class="fa d-inline fa-lg fa-bolt" href="/"></i>
    <b> Start-up</b>
  </a>
  <ul class="navbar-nav mx">
    <li class="nav-item text-uppercase px-2"> <a class="nav-link text-white" href="/startup-categories"><b class="text-capitalize">Start-up Categories</b></a> </li>
    <li class="nav-item text-capitalize"> <a class="nav-link text-white" href="/investor"><b>Investor</b></a> </li>
    <li class="nav-item"> <a class="nav-link text-white" href="/host-competetion"><b>Hosting Competetion</b></a> </li>
    <li class="nav-item"> <a class="nav-link text-white" href="/get-funded"><b>Get Funded</b></a> </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <div class="dropdown">
        <a class="btn dropdown-toggle btn-outline-primary text-white" data-toggle="dropdown">Login</a>
        <div class="dropdown-menu" >
          <a class="dropdown-item" href="/login/enterpreneur">Entrepreneur</a>
          <a class="dropdown-item" href="/login/investor">Investor</a>
          <a class="dropdown-item" href="/login/bank">Bank </a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div class="dropdown">
        <a class="btn dropdown-toggle btn-outline-primary text-white" data-toggle="dropdown"> Get Started </a>
        <div class="dropdown-menu" >
          <a class="dropdown-item" href="/register/enterpreneur/1">Entrepreneur</a>
          <a class="dropdown-item" href="/register/investor">Investor</a>
        </div>
      </div>
    </li>
  </ul>
</nav>