<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
</head>

<body>
    <%- include('../../partials/nav') %>
  <div class="pt-5" style="	background-image: url(host_competetion/cover.jpg), linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));	background-position: center center, center center;	background-size: 100%, 100%;	background-repeat: repeat, repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-10 bg-white p-5 mx-auto mx-md-0 text-dark">
          <h1>Discover the best Startups from the Robust India</h1>
          <p class="mb-3">Connect, Promote &amp; Invest in emerging market Startups through it's exhaustive Startup competition. Our goal is to help startups find that one missing piece, tie that one loose end or just connect the existing dots so that they can leave their mark on the world. It might be an online discussion with a mentor, a casual chat with a founder, an intense discussion with an investor or just the cash prize, we will make sure that you get exactly what you need, and much more.<br><br>If you want to host a competition then you need to register here for hosting any type of Startup competition.</p> <a class="btn btn-primary" href="/form/host-competetion">Want to host? Register yourself</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center" >
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-10">
          <h1>Startup Competition</h1>
          <p class="mb-3 mx-auto w-75 lead" >We organize different startup competitions which consist of the gathering of entrepreneurs, investors, corporate representatives and government officials and influencers from different ecosystems. Startup competition is the ultimate networking experience, ensuring you meet the right people, in the right business atmosphere through effective curation. Experienced entrepreneurs, active investors - both angels and institutions, influencers, facilitators and of course corporate representatives gather with only one agenda - BUSINESS. Attend sessions, be part of workshops, engage in round table sessions, join panels, set up one-on-one meetings, pitch, party and of course don't ever stop networking. At the end, we promise you will want more! </p>
          <div class="row">
            <div class="col-md-3 mt-4 px-4 col-6">
              <h5>56+</h5>
              <p class="mb-3">Competitions Hosted</p>
            </div>
            <div class="col-md-3 mt-4 px-4 col-6">
              <h5>6000+</h5>
              <p class="mb-3">Business Ideas submitted</p>
            </div>
            <div class="col-md-3 mt-4 px-4 col-6">
              <h5> <b>426+</b></h5>
              <p class="mb-3">Connections Made</p>
            </div>
            <div class="col-md-3 mt-4 px-4 col-6">
              <h5> <b>Rs. 2 Crore+</b></h5>
              <p class="mb-3">Money Rewarded</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
</body>

</html>