<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.2.1.css">
</head>

<body>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Investor Register</h1>
          <form class="text-left" method="POST" action="/register/investor">
            <div class="form-group"> <label for="form16">Comapny Name</label> <input type="text" class="form-control" id="form16"> </div>
            <div class="form-group"> <label for="form17">Founded</label> <input type="text" class="form-control" id="form17"> </div>
            <div class="form-group"> <label for="form18">Head Office</label> <input type="text" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form18">CEO</label> <input type="text" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form18">Total Employees</label> <input type="text" class="form-control" id="form18"> </div>
            <div class="form-group">
              <label for="sel1">Select list:</label>
              <select class="form-control" id="sel1">
                <option value="" selected="" disabled="" hidden="">...</option>
                <option>Private Equity</option>
                <option>Venture Capitalist</option>
                <option>Angel Investors</option>
                <option>Crowdfunding</option>
                <option>Banker</option>
                <option>Incubators</option>
                <option>philanthropist</option>
              </select>
            </div>
            <div class="form-group"> <label for="form18">Company URL</label> <input type="text" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form18">Contact Info</label> <input type="text" class="form-control" id="form18"> </div>
            <div class="form-row">
              <div class="form-group col-md-12"> <label for="form19">Email ID</label> <input type="email" class="form-control" id="form19"> </div>
            </div>
            <div class="form-group"> <label for="form18">Preferable Sector</label> <input type="text" class="form-control" id="form18"> </div>
            <div class="form-group">
            </div> <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
</body>

</html>