<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/investor/theme.css" type="text/css">
</head>

<body>
    <%- include('../../partials/nav') %>
  <div class="pt-5" style="	background-image: linear-gradient(to bottom, transparent, transparent), url(/investor/cover.jpg);	background-position: center center, center center;	background-size: 100%, 100%;	background-repeat: repeat, repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-10 bg-white p-5 mx-auto mx-md-0 text-dark">
          <h1>Invest in India's most promising Startups</h1>
          <p class="mb-3">Discover the best Startups to Sund, Lead, Syndicate across the nation and every sector</p> <a class="btn btn-primary" href="/register/investor">SIGN UP AS INVESTOR</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-10">
          <h1>Get personalised deals</h1>
          <p class="mb-3 mx-auto w-75 lead">Our powerful match making sections are&nbsp; personalised for your interests</p>
          <div class="row">
            <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fa fa-stop-circle fa-4x mb-3 text-muted"></i>
              <h5> <b>Get 'Match-made' Startups</b></h5>
              <p class="mb-3">Fine tune your investment preferences and we automatically send startups matchmade for you</p>
            </div>
            <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fa fa-stop-circle-o fa-4x mb-3 text-muted"></i>
              <h5>Access highly 'Curated Startups'</h5>
              <p class="mb-3">Our team works relentlessly to curate the best startups using the proprietary rating system</p>
            </div>
            <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fa fa-circle-o fa-4x mb-3 text-muted"></i>
              <h5>Search &amp; follow 'Hot Deals'</h5>
              <p class="mb-3">Browse through our Startup collections to find trending deals and more</p>
            </div>
            <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fa fa-circle fa-4x mb-3 text-muted"></i>
              <h5>Connect with Founders instantly</h5>
              <p class="mb-3">Connect with founders quickly and engage in meaningful discussions</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-9 p-3">
          <h1 class="mb-0">Interested in exploring deals?</h1>
        </div>
        <div class="col-md-3 align-items-center d-flex justify-content-center p-3"> <a class="btn btn-primary btn-lg" href="/register/investor">SIGN UP AS INVESTOR</a> </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
</body>

</html>