<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/register/enterpreneur/page_3/theme.css" type="text/css">
</head>

<body>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Enter Details Of Funder</h1>
          <form class="text-left" method="POST" action="/register/enterpreneur/3">
            <div class="form-group"> <label for="form16">Funding Category</label> <input type="text" name="funding" class="form-control" id="form16"> </div>
            <div class="form-group"> <label for="form17">Serial No of Funding</label> <input type="text" name="serial" class="form-control" id="form17"> </div>
            <div class="form-group"> <label for="form18">Contact Info</label> <input type="text" name="contact" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form18">Mobile No</label> <input type="text" name="mobile" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form18">Website URL Link</label> <input type="text" name="website" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form18">E-mail ID</label> <input type="text" name="email" class="form-control" id="form18"> </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Upload Document</label>
              <input type="file" name="upload" class="form-control-file" id="exampleFormControlFile1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
