<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/host_competetion/form.css" type="text/css">
</head>

<body>
  <div class="py-5 text-center" style="">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Hello host!</h1>
          <p class="mb-3">Fill up your hosting details and fund away from one of the promising startups of the country.</p>
          <form class="text-left">
            <div class="form-group"> <label for="form16">Name</label> <input type="text" class="form-control" id="form16"> </div>
            <div class="form-group"> <label for="form17">City</label> <input type="text" class="form-control" id="form17"> </div>
            <div class="form-group"> <label for="form18">About</label> <input type="text" class="form-control" id="form18"> </div>
            <div class="form-group"> <label for="form16">Pick your categories</label> 
            <div class="marketing">
              <label><input type="checkbox" value="">Marketing</label>
            </div>
            <div class="sales">
              <label><input type="checkbox" value="">Sales</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" >PR</label>
            </div>
            <div class="Recruiting">
              <label><input type="checkbox" value="">Recruiting</label>
            </div>
            <div class="project">
              <label><input type="checkbox" value="">Project Management</label>
            </div>
            <div class="product">
              <label><input type="checkbox" value="" >Product Development</label>
            </div>
            <div class="web">
              <label><input type="checkbox" value="">Web App Development</label>
            </div>
            <div class="Mobile">
              <label><input type="checkbox" value="">Mobile App Development</label>
            </div>
            <div class="uk">
              <label><input type="checkbox" value="" >UX</label>
            </div>
            <div class="design">
              <label><input type="checkbox" value="">Design</label>
            </div>
            <div class="software">
              <label><input type="checkbox" value="">Software</label>
            </div>
            <div class="form-group">
              <label for="sel1">Looking for</label>
              <select class="form-control" id="sel1">
                <option value="" selected="" disabled="" hidden="">....</option>
                <option>Cofounder</option>
                <option>Join a Startup</option>
                <option>Networking</option>
                <option>Investor</option>
                <option>Mentor</option>
                <option>Mentee</option>
                <option>Hiring Talent</option>
              </select>
            </div>
            <div class="form-group"> <label for="form16">Fund Providing Upto</label> <input type="text" class="form-control" id="form16" placeholder="in Crore(INR)"> </div>
            <button type="submit" class="btn btn-primary" style="">Complete Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
</body>

</html>