<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/get_funded/theme.css" type="text/css">
</head>

<body>
  <%- include('../../partials/nav') %>
  <div class="py-5 text-white" style="	background-image: url(/get_funded/cover.jpg);	background-position: center center;	background-size: cover;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 p-0">
          <div class="embed-responsive embed-responsive-4by3"> <video src="https://static.pingendo.com/video-placeholder.mp4" class="embed-responsive-item" type="video/mp4" controls="controls"> Your browser does not support HTML5 video. </video> </div>
        </div>
        <div class="p-5 col-lg-7 d-flex flex-column justify-content-center" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
          <h3 class="display-4 mb-3">Raise funds for your Startup with ease</h3>
          <p class="lead mb-0">Discover, Connect with Global and Top Investors acroos the globe and help scale up your Startup.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-12">
          <h1 class="mb-4">Do you want to Raise Funds?</h1> <a class="btn btn-outline-primary" href="/form/get-funded">SIGN UP AS STARTUP</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-10">
          <div class="row">
            <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fa fa-stop-circle fa-4x mb-3 text-muted"></i>
              <h5> <b>Connect</b></h5>
              <p class="mb-3">Connect with Top Investors</p>
            </div>
            <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fa fa-stop-circle-o fa-4x mb-3 text-muted"></i>
              <h5> <b>Pitch</b></h5>
              <p class="mb-3">Pitch up your data to scale up</p>
            </div>
            <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fa fa-circle-o fa-4x mb-3 text-muted"></i>
              <h5> <b>Raise Funds</b></h5>
              <p class="mb-3">Raise funds to accelerate &amp; boost your startup</p>
            </div>
            <div class="col-md-3 mt-4 px-4 col-6"> <i class="d-block fa fa-circle fa-4x mb-3 text-muted"></i>
              <h5> <b>Expert View</b></h5>
              <p class="mb-3">Get expert opinion from experts &amp; deep insights of market.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
</body>

</html>