<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/get_funded/form.css" type="text/css">
</head>

<body>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="mx-auto col-lg-6 col-10">
          <h1>Deliver Your Pitch!</h1>
          <p class="mb-3">Go ahead and fill in your information and deliverables to fund yourself high.</p>
          <form class="text-left">
            <div class="form-group"> <label for="form16">Startup Profile URL</label> <input type="text" class="form-control" id="form16"> </div>
            <div class="form-group" style=""> <label for="form16">Location</label> <input type="text" class="form-control" id="form16"> </div>
            <div class="form-group"> <label for="form17">Product/Service Summary</label> <input type="text" class="form-control" id="form17" placeholder="upto 1000 characters"> </div>
            <div class="form-group"> <label for="form18">Twitter Pitch</label> <input type="text" class="form-control" id="form18" placeholder="upto 100 characters"> </div>
            <div class="form-group"> <label for="form18">Team Summary</label> <input type="text" class="form-control" id="form18" placeholder="upto 240 characters"> </div>
            <div class="form-group"> <label for="form18">Customer Traction</label> <input type="text" class="form-control" id="form18" placeholder="upto 300 characters"> </div>
            <div class="form-group"> <label for="form18">How are you different?</label> <input type="text" class="form-control" id="form18" placeholder="upto 1000 characters"> </div>
            <div class="form-row">
              <div class="form-group">
                <label for="sel1">Cloud Platform you use&nbsp; &nbsp;</label>
                <select class="form-control" id="sel1">
                  <option value="" selected="" disabled="" hidden="">Select Cloud Platform</option>
                  <option value="1">Amazon AWS</option>
                  <option value="2">Microsoft Azure</option>
                  <option value="3">Google Cloud</option>
                  <option value="4">Other</option>
                  <option value="5">None</option>
                </select>
              </div>
              <div class="form-group col-md-12"> <label for="form19">What is the amount you want to raise?</label> <input type="text" class="form-control" id="form19" placeholder="in Lakhs(INR)"> </div>
            </div>
            <button type="submit" class="btn btn-primary">Deliver</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
</body>

</html>