<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-lg-offset-3 col-lg-6 col-lg-offset-3 col-10">
                    <h1>Enter Details Of Funder</h1>
                    <br>
                    <form class="text-left" method="POST">
                        <div class="form-group"> <label for="form16">Funding Category</label> <input type="text"
                                name="funding" class="form-control" id="form16"> </div>
                        <div class="form-group"> <label for="form17">Serial No of Funding</label> <input type="text"
                                name="serial" class="form-control" id="form17"> </div>
                        <div class="form-group"> <label for="form18">Contact Info</label> <input type="text"
                                name="contact" class="form-control" id="form18"> </div>
                        <div class="form-group"> <label for="form18">Mobile No</label> <input type="text" name="mobile"
                                class="form-control" id="form18"> </div>
                        <div class="form-group"> <label for="form18">Website URL Link</label> <input type="text"
                                name="website" class="form-control" id="form18"> </div>
                        <div class="form-group"> <label for="form18">E-mail ID</label> <input type="text" name="email"
                                class="form-control" id="form18"> </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Upload Document</label>
                            <input type="file" name="upload" class="form-control-file" id="exampleFormControlFile1">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>