<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Enter Details</h1>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-lg-offset-3 col-lg-6 col-lg-offset-3 col-10">
                    <form class="text-left" method="POST">
                        <div class="form-group"> <label for="form16">Company Name</label> <input type="text"
                                name="company" class="form-control" id="form16"> </div>
                        <div class="form-group"> <label for="form17">Description</label> <input type="text"
                                name="description" class="form-control" id="form17"> </div>
                        <div class="form-group"> <label for="form18">Founder Name</label> <input type="text"
                                name="founder" class="form-control" id="form18"> </div>
                        <div class="form-row">
                            <div class="form-group col-md-12" style="padding-left: 0px;">
                                <div class="form-group"><label for="form20">Foundation Year</label> <input type="text"
                                        name="foundation" class="form-control" id="form19" placeholder="YYYY"></div>
                                <div class="form-group"><label>Funded/Bootstrapped</label><input type="text"
                                        name="founded" class="form-control" id="form26"></div>
                                <div class="form-group"><label>Location</label><input type="text" name="location"
                                        class="form-control" id="form22"></div>
                                <div class="form-group"><label>Total Funds Collected</label><input type="text"
                                        name="total" class="form-control" id="form24"></div>
                                <div class="form-group"><label>Stakeholders</label><input type="text"
                                        name="stackholders" class="form-control" id="form25"></div>
                                <label>Source Of Funding</label>
                                <form method="POST" action="/viewreg3">
                                    <select class="form-control" name="select3" id="sel3">
                                        <option value="" selected="" disabled="" hidden="">select</option>
                                        <option>Private Equity</option>
                                        <option>Venture Capitals</option>
                                        <option>Angel Investors</option>
                                        <option>Crowdfunding</option>
                                        <option>Banker</option>
                                        <option>Incubators</option>
                                        <option>Philanthropist</option>
                                        <option>Others</option>
                                    </select>
                                </form>
                                <button type="submit" class="btn btn-primary">Goto Next step</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>